body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    overflow-x: hidden;
    position: relative;
    min-height: 100vh;
    
}

/* วิดีโอพื้นหลัง */
.background-video {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: -1;
    opacity: 0.8; /* ปรับค่า opacity ตามที่ต้องการ */
}

.shooting-star {
    position: absolute;
    width: 150px;
    height: 2px;
    background: linear-gradient(45deg, white, rgba(255, 255, 255, 0));
    top: -10%;
    left: 50%;
    animation: shooting 3s ease-in-out infinite;
    transform: rotate(45deg);
    z-index: 1;
}

@keyframes shooting {
    0% {
        transform: translateX(0) translateY(0) rotate(45deg);
        opacity: 1;
    }
    50% {
        opacity: 0.5;
    }
    100% {
        transform: translateX(-100vw) translateY(100vh) rotate(45deg);
        opacity: 0;
    }
}

.scrollTop {
    position: fixed;
    width: 40px;
    height: 40px;
    bottom: 50px;
    right: 50px;
    color: white;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    transition: opacity 0.3s ease-in-out, transform 0.3s ease-in-out; /* เพิ่มความนุ่มนวลในการแสดงผลและขนาด */
    opacity: 0;
    transform: translateY(20px); /* เลื่อนลงเล็กน้อยเพื่อให้มีเอฟเฟกต์ลอยขึ้น */
    z-index: 1000;
  }
  
  .scrollTop.show {
    opacity: 1;
    transform: translateY(0); /* เลื่อนกลับมาตำแหน่งเดิม */
  }
  
  .scrollTop:hover {
    transform: scale(1.1); /* เพิ่มขนาดเล็กน้อยเมื่อ hover */
  }
  
